@import '../../styles/globals.scss';

.content-toast {
    position: fixed;
    z-index: 1;
    width: 200px;
    top: 5px;
    right: -1000px;
    padding: 15px 15px;
    background-color: $violetaClaro;
    border: 1.5px solid $blanco;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;

    p {
        color: $negro;
        font-size: 14px;
        font-weight: bold;
    }
}