.scrollGetIn {
    animation: scrollGetIn 1s ease-in-out forwards 0s;
}

@keyframes scrollGetIn {
    from{
        transform: translateY(100%);
    }
    to {
        transform: translateY(0%);
    }
}

.scrollGoOut {
    animation: scrollGoOut 1s ease-in-out forwards 0s;
}

@keyframes scrollGoOut {
    from{
        transform: translateY(0%);
    }
    to {
        transform: translateY(-100%);
    }
}